body {
    background-color: #BAABDA;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

h1 {
    color: #FEF5ED;
}

h3 {
    color: #FFEFEF;
}