body {
    margin: 0;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 50px;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
}

.top-txt {
    margin-top: 0%;
    color: rgba(248,137,94,1);
}

.top-container {
    background: rgb(25,0,3);
    background: linear-gradient(0deg, rgba(25,0,3,1) 0%, rgba(248,137,94,1) 23%, rgba(46,9,60,1) 82%);
    position: relative;
    padding-top: 100px;
}

/* .middle-container {

} */

.bottom-container {
    display: inline-block;
}

.bottom-moon {
    position: absolute;
    left: 200px;
    bottom: 350px;
    width: 80px;
}

.top-moon {
    position: absolute;
    right: 300px;
    bottom: 400px;
    width: 80px;

}

#profile_picture {
    height: 250px;
    margin-top: 2%;
}
