body {
    margin: 0;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 3.1rem; 
    line-height: 2;
    color: rgba(248,137,94,1);
    /* To put it in a dynamic : We need to do 50/16 (100%) */
    /*It's better to use rem because it does not stack the differents font size */
}

h2 {
    color: #f5b78a;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    color: #341c24;
    font-family: 'Ubuntu', sans-serif;
}

p {
    line-height: 2;
}

hr {
    border: dotted rgba(248,137,94,1) 6px;
    border-bottom: none;
    width: 20%;
    margin: 100px auto;
}

a {
    font-family: 'Ubuntu, sans-serif';
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}

.top-txt {
    margin: 50px auto 0 auto;
}

.top-container {
    background: rgb(25,0,3);
    background: linear-gradient(0deg, rgba(25,0,3,1) 0%, rgba(248,137,94,1) 23%, rgba(46,9,60,1) 82%);
    position: relative;
    padding-top: 1rem;
}

.tatooine {
    width: 100%;
}

.bottom-container {
    padding-bottom: 1rem;
    background: linear-gradient(0deg, rgba(25,0,3,1) 0%, rgba(248,137,94,1) 23%);
}

.middle-container {
    margin: 100px auto 100px auto;
}

.bottom-moon {
    position: absolute;
    left: 12.5rem;
    bottom: 15.6rem;
    width: 5rem;
}

.top-moon {
    position: absolute;
    right: 15rem;
    bottom: 25rem;
    width: 5rem;

}

#profile_picture {
    height: 15rem;
    margin-top: 0.25rem;
}

.skill-row {
    margin: 100px auto 100px auto;
    width: 50%;
    text-align: left;
    padding-bottom: 1rem;
}

.profile {
    width: 50%;
    margin: auto;
}

.message-me {
    width: 40%;
    margin: 40px auto 60px;
}

.copyright {
    font-size: 0.75rem;
    padding: 20px 0;
}

.coding-img {
    width: 25%;
    float: left;
    margin-right: 2rem;
}

.game-img {
    width: 25%;
    float: right;
    margin-left: 2rem;
    
}

.btn {
    background: #d9ad34;
    background-image: -webkit-linear-gradient(top, #d9ad34, #b8552b);
    background-image: -moz-linear-gradient(top, #d9ad34, #b8552b);
    background-image: -ms-linear-gradient(top, #d9ad34, #b8552b);
    background-image: -o-linear-gradient(top, #d9ad34, #b8552b);
    background-image: linear-gradient(to bottom, #d9ad34, #b8552b);
    -webkit-border-radius: 18;
    -moz-border-radius: 18;
    border-radius: 18px;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #f2fc3c;
    background-image: -webkit-linear-gradient(top, #f2fc3c, #ab6015);
    background-image: -moz-linear-gradient(top, #f2fc3c, #ab6015);
    background-image: -ms-linear-gradient(top, #f2fc3c, #ab6015);
    background-image: -o-linear-gradient(top, #f2fc3c, #ab6015);
    background-image: linear-gradient(to bottom, #f2fc3c, #ab6015);
    text-decoration: none;
  }
